<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>To Kill A Mockingbird</title>
    <link rel="stylesheet" type="text/css" href="/static/css/style.css"/>
</head>
<body>
 <center>   
<img src = "https://cdn.britannica.com/21/182021-050-666DB6B1/book-cover-To-Kill-a-Mockingbird-many-1961.jpg" width = 300px>
<p>Description--><br>To Kill a Mockingbird takes place in the fictional town of Maycomb, Alabama, during the Great Depression. The protagonist is Jean Louise (“Scout”) Finch, an intelligent though unconventional girl who ages from six to nine years old during the course of the novel. She is raised with her brother, Jeremy Atticus (“Jem”), by their widowed father, Atticus Finch. He is a prominent lawyer who encourages his children to be empathetic and just. He notably tells them that it is “a sin to kill a mockingbird,” alluding to the fact that the birds are innocent and harmless.
<br>
When Tom Robinson, one of the town’s Black residents, is falsely accused of raping Mayella Ewell, a white woman, Atticus agrees to defend him despite threats from the community. At one point he faces a mob intent on lynching his client but refuses to abandon him. Scout unwittingly diffuses the situation. Although Atticus presents a defense that gives a more plausible interpretation of the evidence—that Mayella was attacked by her father, Bob Ewell—Tom is convicted, and he is later killed while trying to escape custody. A character compares his death to “the senseless slaughter of songbirds,” paralleling Atticus’s saying about the mockingbird.
<br>
The children, meanwhile, play out their own miniaturized drama of prejudice and superstition as they become interested in Arthur (“Boo”) Radley, a reclusive neighbour who is a local legend. They have their own ideas about him and cannot resist the allure of trespassing on the Radley property. Their speculations thrive on the dehumanization perpetuated by their elders. Atticus, however, reprimands them and tries to encourage a more sensitive attitude. Boo makes his presence felt indirectly through a series of benevolent acts, finally intervening when Bob Ewell attacks Jem and Scout. Boo kills Ewell, but Heck Tate, the sheriff, believes it is better to say that Ewell’s death occurred when he fell on his own knife, sparing the shy Boo from unwanted attention. Scout agrees, noting that to do otherwise would be “sort of like shootin’ a mockingbird.”</p>
<p>prices--><br><br>kindle:- $11.99<br>paperback:- $8.89<br>hardcover:- $23.85<br>audio:- $11.49</p>
<a href = "/">back to the home page!!</a>
</center>
</body>
</html>
